<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center">Reset Password</p>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold text-center mt-2">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>

                    <div class="card-body">
                        <form th:action="@{/reset-password}" method="post">
                            <input type="hidden" name="token" th:value="${token}" />

                            <div class="mb-3">
                                <input class="form-control" type="password" name="password" placeholder="New Password" required>
                            </div>

                            <div class="mb-3">
                                <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" required>
                            </div>

                            <button type="submit" class="btn bg-danger text-white">Change Password</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
